body {
    background-image: url("https://img.freepik.com/free-vector/children-are-reading-books-stack-books-garden-scene_1308-108010.jpg?ga=GA1.1.2071195669.1721226201&semt=ais_hybrid&w=740");
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
    background-size: cover;
  }